Body {
    font-family: Cambria, Georgia, "Courier New";
    background-color: #F4EAD5;
    color: #E94E77;
    display: block;
}

#main {
    display: block;
    text-align: -webkit-center;
    background-color: #C6A49A;
    width: 670px;
    margin: auto;
    margin-top: 10%;
}

    #main .header {
        background-color: #D68189;
        border-bottom: 2px solid #F4EAD5;
        width: 100%;
        height: 40px;
    }

        #main .header .title-name {
            color: #C6E5D9;
            float: left;
            width: 70%;
            margin: 0.4em 0 0.5em 1em;
            color: #D2E8FD;
            text-transform: uppercase;
            color: #D2E8FD;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 21px;
            text-shadow: 1px 2px 0 #E94E77;       
        }

        #main .header .buttons {
            margin-left: 75%;
            padding: 0.1em;
        }

    #main .game-field {
        padding: 1em;
        float: left;
        width: 70%;
        background: #C6A49A;       
    }

    #main .sums {
        border-left: 2px solid #D2E8FD;
        color: #C6E5D9;
        margin-left: 75%;
        padding: 0.1em;
        background: #D68189;
    }

    #main .rblOptions {
        width: 90%;
        margin: auto;
        vertical-align: central;
        margin: auto;
    }

    #main .pro-button {
        font-weight: 700;
        color: #C6E5D9;
        text-decoration: none;
        padding: .4em 1em calc(.4em + 3px);
        border-radius: 3px;
        background: #C6A49A;
        box-shadow: 0 -3px #D68189 inset;
        transition: 0.2s;
    }

        #main .pro-button:hover {
            background: #D68189;
        }

        #main .pro-button:active {
            background: #D68189;
            box-shadow: 0 3px #A1B1C0 inset;
        }

    #main .img-button {
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        background-color: #C6E5D9;
    }

        #main .img-button:hover {
            background: #C6E5D9;
        }

        #main .img-button img {
            width: 25px;
            height: 25px;
            margin-left: -3px;
        }

#main .game-field .footer
{    
    width:300px;
    color:#C6E5D9;
    background:#D68189;
}

#main .game-field .footer input
{    
    width:180px;
}